<body>
    <div class="head-div">
        <div class="main-div">
            <div class="main-div1">
                <form action="#">
                    <div class="main-text">
                        <div class="welcome-text"> Welcomes You</div>
                        <div class="nokia-text">Nokia</div>
                        <div class="user-login-text">User Login Portal</div>
                        <div class="info">(*Only For The User Account holders)</div>
                    </div>
                    <table class="table1">
                        <tr>
                            <td>
                                <div class="user-name">
                                    <label for="#">User Name</label>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="username-input">
                                    <input type="text" size="50">
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="passwrod"> <label for="">Password</label></div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="password-input"><input type="text" size="50"></div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="re-pass"><label for="">Re-Enter Password</label></div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="re-password-input"><input type="text" size="50"></div>
                            </td>
                        </tr>

                        <tr>
                            <td>
                                <div class="submit-butt">
                                    <input type="submit" value="Submit" class="submit1">
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="reset-butt"> <input type="reset" value="Reset" class="reset1">
                                </div>
                            </td>
                        </tr>

                    </table>
                    <div class="Create-Links">
                        <a href="#">Change Password.</a> <a href="#">Forgot Password?</a> <a href="#">Click Create New
                            Account</a>
                    </div>
                    <div class="Create-Links1">
                        <a href="#">Click Create New Account</a>
                    </div>

                </form>
            </div>
        </div>
    </div>
</body>